.tabstrip {
    background-color: #c6c6c6;
    /*height: 50px;
    padding: 5px;*/
}

.tab {
    display: inline-block;
    height: 50px;
    min-width: 75px;
    background-color: blue;
    border: 1px red solid;
    float:left;
    text-align:center;
}
.pageView {
    display: inline-block;
    height: 500px;
    width: 500px;
    background-color: blue;
    border: 1px red solid;
}

.active {
    background-color: yellow;
}

.disabled {
    background-color: gray;
}

.hide{
    display:none;
}
